html {
    font-size: 100%;
}
h1 {
    font-family: 'Great Vibes', cursive;
    color: charcoal;
    font-size: 90px;
}
p {
    font-size: 18px;
}
h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 28px;
}
