{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/solar/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <title>MakinMine</title>
</head>
<body>

    <!-- begin navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top mb-5">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'recipe_list' %}" title="">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" title="">Shop</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!-- end navbar -->

<!-- begin jumbotron -->
    <div class="jumbotron">
        <h1 class="text-default mt-5">
            MakinMine
        </h1>
        <h3 class="ml-5 pl-5">
            DIY Waste Free Personal Products
        </h3>
    </div>

<!-- begin sidebar nav -->
    <div class="col-md-2 bg-caution">
        <div class="sidenav">
            <strong>Catagories</strong><br>
            <a href="">Skin</a><br>
            <a href="#">Teeth</a><br>
            <a href="#">Hair</a><br>
            <a href="#">Face</a>
        </div>
    </div>
<!-- end sidebar nav -->



    {% block content %}
    {% endblock %}
    <!-- 'Add New' button  -->

        <a href="{% url 'add_recipe' %}" class="btn btn-success ml-4 mt-5 mb-5">
            Add Your Recipe
        </a>
    

<!-- begin footer -->
    <footer class="footer pt-3 pb-1 bg-secondary fixed-bottom">
        <h6 class="text-dark small">
        Copyright 2020; MackRoe(TM)
    </h6>
</footer>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
