{% extends "base.html" %}
HOME HTML
{% block content %}
<div class="col-md-8 bg-light mb-5 ml-5 pt-3">
<h2>Benifits</h2>
    <p>
        With landfills overflowing and polution endangering all human life on
        the planet, it just makes sense to reduce, re-use, and recycle where
        ever possible. Making your own personal hygeine products is another
        step that you personally can take to make ours a greener world.
    </p>
<h2>Reduce</h2>
    <p>
        Reduce waste by elimating excess packaging.
    </p>
<h2>Re-use</h2>
    <p>
        Whenever you empty a containter of its product, simply make more and
        refill it.
    </p>
<h2>Recycle</h2>
    <p>
        Ingredients use the most minimal recyclable packaging possible.
    </p>
</div>
{% endblock %}
