{% extends "base.html" %}

recipe detail
{% block content %}
<div class="col-md-8 bg-light mb-5 ml-5">
    <p>
        <h2>
            {{ recipe_detail.title }}
        </h2>
    <p>
        <h3>Ingredients</h3>

            {{ recipe_detail.ingredients }}<br />

    <p>
        <h3>Instructions</h3>
        {{ recipe_detail.instructions }}
    <hr>
    <p>
        Do you hate it? <br>
        <form method="POST">
            <a href="{% url 'update_recipe' recipe_detail.slug %}" class="btn btn-warning">
                Fix It
            </a>
            <a href="{% url 'delete_recipe' recipe_detail.slug %}" class="btn btn-danger">
                Trash It
            </a>
        </form>
        Or..
        <!-- 'Add New' button  -->

            <a href="{% url 'add_recipe' %}" class="btn btn-success ml-4 mt-5 mb-5">
                Add Your Own Recipe
            </a>
    </p>
</div>
{% endblock %}
