{% extends "base.html" %}
HOME HTML
{% block content %}
<div class="col-md-8 bg-light mb-5 ml-5 pt-3">
<h2>Benifits</h2>
    <p>
        With landfills overflowing and polution endangering all human life on
        the planet, it just makes sense to reduce, re-use, and recycle where
        ever possible. Making your own personal hygiene products is another
        step that you personally can take to make ours a greener world.
    </p>
<h2>Reduce, Re-use, Recycle</h2>
    <p>
        Reduce waste by elimating excess packaging.
    <p>
        Whenever you empty a containter of its product, simply make more and
        refill it.
    <p>
        Ingredients use the most minimal and recyclable packaging possible.
    </p>
<h2>Save Money</h2>
    <p>For the amount you spend on commercially made products, you can make ten
        times the product for the same price, doing it yourself. And let's be
        honest, who doesn't want to save money?
</div>
{% endblock %}
